// Import Vuetify styling
@require '~vuetify/src/stylus/main.styl'

// Customize styling
#app
    font-family 'Noto Sans SC', sans-serif
    font-weight 400
    color var(--v-primary-base)
    background-color var(--v-secondary-base)

a
  text-decoration none

.v-icon
    vertical-align middle !important

// Font color
.primary-text
    color var(--v-primary-base) !important

.secondary-text
    color var(--v-secondary-base) !important

.accent-text
    color var(--v-accent-base) !important

.error-text
    color var(--v-error-base) !important

.info-text
    color var(--v-info-base) !important

.success-text
    color var(--v-success-base) !important

.warning-text
    color var(--v-warning-base) !important
