// Import Vuetify styling
@require '~vuetify/src/stylus/main.styl'

// Customize styling
*
  font-family -apple-system, BlinkMacSystemFont, YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "Microsoft YaHei", '微软雅黑', Arial, "Meiryo", sans-serif
